.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 8px;
  background-color: #181725;
  box-shadow: 0 1px 3px 2px #232137;
  margin-bottom: 40px;
}
.nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 26px;
  align-content: center;
}
.nav ul li {
  margin: 0 5px;
}
.nav img {
  height: 80%;
}
.active,
.inactive {
  text-decoration: none;
}
.active:hover,
.inactive:hover {
  color: #59ED15;
}
.active {
  color: aliceblue;
}
.inactive {
  color: aliceblue;
}
